<!doctype html>
<!-- html tag with Thymeleaf -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap CSS -->
<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}"/>
<title>home</title>
</head>
<body>
	<div th:fragment="header">
  		<header class="d-flex mb-4 ">
			<div class="col-4 text-center border p-3"> best of </div>
			<div class="border p-3 col-8">
				<a th:href="@{/movies}" type="button" class="btn btn-primary">movies</a>
				<a th:href="@{/songs}" type="button" class="btn btn-primary">songs</a>
				<a th:href="@{/}" type="button" class="btn btn-primary">home</a>
			</div>
		</header>
	</div>
	
	<a
		th:fragment="button(link, title)"
		th:href="${link}"
		th:text="${title}"
		class="btn btn-primary"
		>
	</a>
</body>
</html>