<!doctype html>
<!-- html tag with Thymeleaf -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap CSS -->
<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}"/>
<title>home</title>
</head>
<body>
	<div class="container border mt-5 p-0">
		<div th:insert="fragments :: header"></div>
		<main>
			<h1 class="text-center">
				Best of the year by [[${x}]]
			</h1>
			<div class="text-center my-4">
				<img class="mx-auto" alt="water" th:src="@{/img/water.jpg}" />
			</div>
		</main>
		<footer class="text-center mt-4 border">
			this is a footer.
		</footer>
		
	</div>
	
	
</body>
</html>